@{
    ViewData["Title"] = "Page not found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center d-flex flex-column justify-content-center vh-50">
    <p class="display-4">🔎</p>
    <h1 class="display-4 fw-bold mb-5">Page not found</h1>
    <p class="display-6 mb-3">Oops! The page you're looking for couldn't be found</p>
    <p class="mb-3">We're sorry about that. It seems like this link is as lost as you are.</p>
    <div>
        <a class="btn btn-primary" asp-action="index" asp-controller="home">Go back to home</a>
    </div>

</div>