@model CustomerAccountViewModel
<form asp-controller="Customers" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-5">
        <h4>Basic Information</h4>
        <hr />
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Province" class="form-label"></label>
            <select asp-for="Province" asp-items="@ViewBag.Provinces" class="form-select w-auto">
                <option value="">Select a province</option>
            </select>
            <span asp-validation-for="Province" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CreditCard" class="form-label"></label>
            <input asp-for="CreditCard" class="form-control" aria-describedby="creditCardHelp" />
            <div id="creditCardHelp" class="form-text text-light">Example: 2223000048400011</div>
            <span asp-validation-for="CreditCard" class="text-danger"></span>
        </div>
    </div>
    <div class="border"></div>
    <div class="my-5">
        <h4>Login Information</h4>
        <hr />
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>